body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #E7E8E7;
    color: #333333;
}

h1 {
line-height: 1.5;
text-align: center;
color: #434494;
}

.form-container {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 30px;
    max-width: 70%;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
}

.instructions {
    padding: 16px;
    border: 1px solid #E7E8E7;
    width: 70%;
    font-size: 16px;
    border-radius: 15px;
    line-height: 20px;
    color: #333333
}

.submit-button {
    margin-left: 10px;
    background-color: #434494;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 14px 24px;
    font-size: 16px;
}

.hint {
    margin-top: 5px;
    font-size: 12px;
    line-height: 1.5;
    opacity: 0.6;
}

.hidden {
    display: none;
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
.blink {
  animation: blink 1s step-start 0s infinite;
}

.column {
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: white;
    line-height: 1.5;
    border-radius: 10px;
    width: 29%;
    padding-left: 1%;
    padding-right: 1%;
    color: #434494;

}

footer {
    text-align: center;
    font-size: 14px;
    margin-top: 50px;
    margin-bottom: 10px;
    background-color: #E7E8E7;
}

a {
    color: #434494;
}